<!DOCTYPE html>
<html>
<head>
    <title>Plant Health Monitor</title>
    <style>
        .plant {
            width: 50%;
            max-width:300px;
            position: absolute;
            top: 60%; 
            left: 50%; 
            transform: translate(-50%, -50%);
        }
        .day {
            width: 30%;
            max-width:200px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h2 {
            margin-left: 20px
        }
    </style>
</head>
<body>
    <div class="header">
        <div>
            <h2>Plant Health Monitor:</h2>
            <h2 style="color:{{ color }};">{{ plant }} plant</h2>
        </div>
        <img class="day" src="{{ url_for('static', filename= day + '.jpg') }}">
    </div>
    <img class="plant" src="{{ url_for('static', filename= plant + '.jpg') }}">
</body>
</html>